
html {
    background: #ffffff;
    height: 100%;
    width: 100%;
}

body {
    background: #353c48;
    min-height: 100%;
    color: #96a2b4;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 16px;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.logo {
    display: block;
    margin: auto;
}

.m-l-20 {
    margin-left: 20px;
}

.m-t-15 {
    margin-top: 15px;
}

.vb {
    vertical-align: bottom;
}

.tab {
    text-align: center;
}

.text-danger {
    color: #fb9678 !important;
}

.text-muted {
    color: #8d9ea7 !important;
}

.text-success {
    color: #00c292 !important;
}

.text-primary {
    color: #ab8ce4 !important;
}

.text-megna {
    color: #01c0c8 !important;
}

.btn {
    border-radius: 0;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

#page-wrapper {
    background: #3c4452;
    min-height: 100%;
}

.footer {
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg-title {
    overflow: hidden;
    padding: 15px 15px 10px;
    margin-bottom: 25px;
    margin-left: -25.5px;
    margin-right: -25.5px;
}

.bg-title h4 {
    font-weight: 600;
    margin-top: 6px;
}

.bg-title .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    float: right;
    padding: 0;
    margin-top: 8px;
}

.bg-title .breadcrumb .active {
    color: #ff6849;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-rounded {
    border-radius: 60px;
}

.btn-danger,
.btn-danger.disabled {
    background: #fb9678;
    border: 1px solid #fb9678;
}

.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
    background: #fb9678;
    opacity: .8;
    border: 1px solid #fb9678;
}

.btn-danger.btn-outline {
    color: #fb9678;
    background-color: transparent;
}

.btn-danger.btn-outline.focus,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:hover {
    background: #fb9678;
    color: #ffffff;
}

.btn-danger.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-warning.btn-outline:hover {
    color: #ffffff;
}

.options > .row {
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    margin-left: 0.5em;
    margin-right: 1em;
}

.white-box {
    margin-bottom: 15px;
    padding: 25px;
}

.white-box .box-title {
    text-transform: uppercase;
    /* margin: 0 0 12px; */
    font-size: 14px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.row-in i {
    font-size: 24px;
}

.row-in-br {
    border-right: 1px solid rgba(120, 130, 140, .28);
}

.col-in {
    padding: 20px;
}

.col-in h3 {
    font-weight: 100;
    font-size: 48px;
}

.progress {
    -webkit-box-shadow: none!important;
    background-color: rgba(120, 130, 140, .28);
    box-shadow: none!important;
    height: 4px;
    border-radius: 0;
    margin-bottom: 18px;
    overflow: hidden;
}

.progress-bar {
    box-shadow: none;
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
}

.progress-bar-primary {
    background-color: #ab8ce4;
}

.progress-bar-success {
    background-color: #00c292;
}

.progress-bar-megna {
    background-color: #01c0c8;
}

.progress-bar-danger {
    background-color: #fb9678;
}

.pull-right {
    float: right;
}

.linea-icon {
    position: relative;
}

.linea-basic[data-icon]:before {
    font-family: linea-basic-10!important;
    content: attr(data-icon);
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-container {
    border-radius: 2px;
}

.bootstrap-switch .bootstrap-switch-handle-on {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.bootstrap-switch .bootstrap-switch-handle-off {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #ffffff;
    background: #ab8ce4;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    color: #ffffff;
    background: #03a9f3;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #ffffff;
    background: #00c292;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
    color: #ffffff;
    background: #fec107;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    color: #ffffff;
    background: #fb9678;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #96a2b4;
    background: rgba(120, 130, 140, .2);
}

.bootstrap-tagsinput,
.css-bar:after,
.customtab li.active a,
.customtab li.active a:focus,
.customtab li.active a:hover,
.daterangepicker .input-mini,
.dropify-wrapper,
.dropify-wrapper .dropify-preview,
.dropzone,
.footer,
.form-control,
.jsgrid-alt-row>td,
.jsgrid-header-row>th,
.jsgrid-row>td,
.list-group-item,
.modal-content,
.myadmin-dd .dd-list .dd-item .dd-handle,
.myadmin-dd-empty .dd-list .dd3-content,
.myadmin-dd-empty .dd-list .dd3-handle,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.pager li>a,
.pager li>span,
.pagination>li>a,
.pagination>li>span,
.panel,
.panel-default .panel-body,
.panel-default .panel-footer,
.panel-default .panel-heading,
.panel-white .panel-body,
.panel-white .panel-footer,
.panel-white .panel-heading,
.radio label::before,
.select2-container-multi .select2-choices,
.thumbnail,
.well,
.white-box,
input,
pre,
select,
table.dataTable.display tbody tr.odd,
table.dataTable.stripe tbody tr.odd {
    background: #353c48;
}

.bg-title {
    background: #3c4452;
    border-bottom: 1px solid rgba(120, 130, 140, .28);
}

.bg-title h4 {
    color: #96a2b4;
}

.bg-title .breadcrumb a,
.daterangepicker .input-mini,
.dd-handle,
.dd3-content,
.dropify-wrapper,
.form-control,
.panel-default .panel-heading,
.panel-white .panel-heading,
.select2-container .select2-choice,
.white-box .box-title,
a.list-group-item,
button.list-group-item,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #dce2ec;
}

.btn-link, a {
    color: #01c0c8;
    text-decoration: none;
}

.btn-link:hover, a:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-default,
.chat-list .chat-text h4,
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.flot-text,
.footer,
.form-control,
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
.help-block,
.input-group-addon,
.text-muted,
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small,
tbody,
th {
    color: #96a2b4;
}

.btn {
    font-size: 14px;
    padding: .8rem 1.2rem;
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}

/* html, body, #map-canvas { */
/*     height: 100%; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

#map-canvas {
    width: 100%;
    height: 800px;
}
